.container {
    display: grid;
    grid-template-columns: 33.3% 66.6%;
    grid-template-rows: 33% 33% 33%;
    height: 100vh;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.logo {
    color: white;
    font-family: 'Raleway', sans-serif;
}